
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
     <dict>
          <key>items</key>
          <array>
               <dict>
                    <key>assets</key>
                    <array>
                         <dict>
                              <key>kind</key>
                              <string>software-package</string>
                              <key>url</key>
                              <string>https://121.199.29.64/weqia.ipa</string>
                         </dict>
                         <dict>
                              <key>kind</key>
                              <string>full-size-image</string>
                              <key>needs-shine</key>
                              <true/>
                              <key>url</key>
                              <string>https://121.199.29.64/weqia.png</string>
                         </dict>
                         <dict>
                              <key>kind</key>
                              <string>display-image</string>
                              <key>needs-shine</key>
                              <true/>
                              <key>url</key>
                              <string>https://121.199.29.64/weqia.png</string>
                         </dict>
                    </array>
                    <key>metadata</key>
                    <dict>
                         <key>bundle-identifier</key>
                         <string>com.weqia.wq8-inhouse</string>
                         <key>bundle-version</key>
                         <string>3.3.0</string>
                         <key>kind</key>
                         <string>software</string>
                         <key>subtitle</key>
                         <string>weqia</string>
                         <key>title</key>
                         <string>weqia</string>
                    </dict>
               </dict>
          </array>
     </dict>
</plist>

